.features {
  margin: 0 0 90px 0;
  text-align: center;
}
.features .feature-img {
  width: 72px;
  height: 72px;
  margin: 0px auto 35px auto;
}
.features .feature-img img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}
.features h3 {
  margin-bottom: 25px;
}
.feature-icon {
  display: block;
  width: 100%;
  font-size: 3.2em;
  text-align: center;
  margin-bottom: 20px;
}