.stiky-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  border-bottom: 1px solid #ff6f69;
  z-index: 100;
}
.stiky-header .logo,
.stiky-header .logo-mobile {
  display: block;
  max-width: 336px;
  height: auto;
  float: left;
  margin-top: 12px;
}
.stiky-header .logo img,
.stiky-header .logo-mobile img {
  max-width: 100%;
}
.stiky-header .logo-mobile { display: none; max-width: 50px; }

.logo {
  display: block;
  width: 100%;
  max-width: 208px;
  height: auto;
}
.location{
  margin-left: 10px;
  text-decoration: none !important;
  font-size: 2em;
  font-weight: lighter;
}

.logo img {
  max-width: 100%;
}
