/*Typography
---------------------------------------------------------*/
h1 {
  font-size: 3.4em;
  font-weight: 100;
  margin-bottom: 20px;
}
h2 {
  font-size: 2.65em;
  font-weight: 100;
  margin-bottom: 20px;
}
h3 {
  font-size: 1.7em;
  font-weight: 300;
  margin-bottom: 15px;
}
h4 {
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 15px;
}
h5 {
  font-size: 1.125em;
  font-weight: 500;
  margin-bottom: 15px;
}
h6 {
  font-size: 0.95em;
  font-weight: 500;
  margin-bottom: 15px;
}
p {
  font-size: 1em;
  margin-bottom: 20px;
  line-height: 1.7;
}
p.big {
  font-size: 1.2em;
}
ul, ol,
ul.list-unstyled {
  padding-left: 25px;
  font-size: 1em;
  line-height: 1.8;
  margin-bottom: 25px;
}
ul { list-style: none; }
ol { padding-left: 45px; }

ul li ul {
  font-size: 1em;
  padding-left: 32px;
}
ul li ul li:before,
ul.list-unstyled li ul li:before {
  display: inline;
  content:"\f10c";
}
ul.list-unstyled li:before,
ul li ul.list-unstyled li:before {
  display: none;
}
blockquote {
  border-left: 5px solid #313447;
}
blockquote.blockquote-reverse {
  border-right: 5px solid #313447;
}
blockquote p {
  font-weight: 500;
  margin-bottom: 13px;
}
blockquote footer {
  color: #9a9ba4;
  font-weight: 500;
}
.page-header {
  padding-bottom: 0;
  margin: 0 0 70px 0;
  border-bottom: none;
  text-align: center;
}
.page-header h2 {
  font-size: 3.4em;
  margin-bottom: 25px;
}
.page-header span {
  font-size: 1.7em;
  font-weight: 300;
}
small {
  text-transform: none;
  font-size: 13px !important;
  color: #999999;
}
.text-light {
  color: #ffffff;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.space-bottom {
  margin-bottom: 25px;
}
.double-space-bottom {
  margin-bottom: 50px;
}
.space-top {
  margin-top: 25px;
}
.double-space-top {
  margin-top: 50px;
}
.normal {
  font-weight: normal !important;
}

/*Emphasis Classes
---------------------------------------------------------*/
.text-muted {
  color: #999999;
}
.text-primary {
  color: #313447;
  font-weight: 500;
}
.text-success {
  color: #40ad75;
}
.text-info {
  color: #31708f;
}
.text-warning {
  color: #d1b446;
}
.text-danger {
  color: #ff6f69;
}