*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
*:first-child+html .group { zoom: 1; } /* IE7 */
.clear {
  clear: both;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  font-weight: normal;
  color: #313447;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

body.space-top {
  padding-top: 70px;
}

.init-fade {
  display: none;
}
@import "components/header";
@import "components/typography";
@import "components/button";
@import "components/media_query";

